* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


/* HEADER */

header {
    height: 80px;
    display: grid;
    grid-template-columns: 5fr 8fr;
    align-items: center;
    align-content: center;
    border-bottom: solid 1px rgb(203, 203, 203);
}

a .img-logo {
    height: 80px;
}

header nav ul {
    list-style: none;
    font-size: 14px;
    color: black;
}

header nav ul li {
    margin: 1rem;
    padding: 1rem;
}

li a {
    color: rgb(148, 148, 148);
    text-decoration: none;
}

li a:hover {
    color: rgb(0, 0, 0);
}

.menu-activo {
    color: #833ab4;
    font-weight: 800;
}

.menu-header {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

/* MEDIA QUERY | HEADER | MOVIL */

@media (max-width: 425px) {
    header {
        height: 120px;
        display: flex;
        flex-direction: column;
    }

    .menu-header {
        height: 0;
    }

    header nav ul li {
        margin: 0 4px;
        padding: 0 4px;
    }
}

/* CONTENIDO INICIO */

.banner-inicio {
    height: 400px;
    background-image: url(../recursos/banner-inicio.jpg);
    background-position: center;
    background-size: cover;
    display: grid;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.banner-inicio h2 {
    color: white;
    text-align: center;
    font-size: 45px;
    margin: 1rem 10rem;
}

.banner-inicio h3 {
    color: white;
    text-align: center;
    margin: 1rem 10rem;
}

.body-inicio-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 5rem 0;
}

.contenido-inicio-1 {
    padding: 2rem;
    display: grid;
    align-items: center;
    align-content: center;

}

.contenido-inicio-2 {
    display: grid;
    align-items: center;
    justify-items: center;
}

.contenido-inicio-2 img {
    height: 500px;
}

.cta-contacto {
    height: 200px;
    background: linear-gradient(-90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    background-position: center;
    background-size: cover;
    display: grid;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.cta-contacto h2 {
    color: white;
    font-size: 35px;
    text-align: center;
    margin: 0 20rem;
}

/* MEDIA QUERY | INICIO | TABLET */

@media (max-width: 768px) {
    .banner-inicio h2 {
        margin: 10px 3rem;
    }

    .banner-inicio h3 {
        margin: 10px 3rem;
    }

    .body-inicio-1 {
        grid-template-columns: 2fr 1fr;
    }

    .contenido-inicio-2 img {
        height: 200px;
    }

    .cta-contacto h2 {
        margin: 0 3rem;
    }
}

/* MEDIA QUERY | INICIO | MOVIL */
@media (max-width: 452px) {
    .banner-inicio h2 {
        font-size: 25px;
        margin: 10px 1rem;
    }

    .banner-inicio h3 {
        font-size: 20px;
        margin: 10px 1rem;
    }

    .body-inicio-1 {
        display: flex;
        flex-direction: column;
    }

    .contenido-inicio-2 img {
        height: 300px;
    }

    .cta-contacto h2 {
        font-size: 25px;
        margin: 0 3rem;
    }
}

/* CONTENIDO SERVICIOS */

.banner-servicios {
    height: 400px;
    background-image: url(../recursos/banner-servicios.jpg);
    background-position: center;
    background-size: cover;
    display: grid;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.banner-servicios h2 {
    color: white;
    text-align: center;
    font-size: 45px;
    margin: 1rem 10rem;
}

.banner-servicios h3 {
    color: white;
    text-align: center;
    margin: 1rem 10rem;
}

.body-servicios-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: end;
    align-items: center;
    margin: 5rem 2rem;
}

.body-servicios-2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 5rem 2rem;
}

.body-servicios-2 div {
    border: 1px solid rgb(203, 203, 203);
    border-radius: 20px;
    margin: 10px;
    padding: 3rem 0;
    text-align: center;
}

.body-servicios-2 div:hover {
    transform: scale(1.08);
    background: linear-gradient(90deg, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
    color: white;
    transition: .3s;
}

/* MEDIA QUERY | SERVICIOS | TABLET */

@media (max-width: 768px) {
    .banner-servicios h2 {
        margin: 10px 3rem;
    }

    .banner-servicios h3 {
        margin: 10px 3rem;
    }

    .body-servicios-1 {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        justify-items: center;
    }

    .contenido-servicios-1 {
        margin-bottom: 30px;
    }

    .body-servicios-2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 5rem 2rem;
    }
}

/* MEDIA QUERY | SERVICIOS | MOVIL */
@media (max-width: 452px) {
    .banner-servicios h2 {
        font-size: 25px;
        margin: 10px 1rem;
    }

    .banner-servicios h3 {
        font-size: 20px;
        margin: 10px 1rem;
    }

    .body-servicios-1 {
        display: flex;
        flex-direction: column;
    }

    .body-servicios-2 {
        display: grid;
        grid-template-columns: 1fr;
        margin: 5rem 2rem;
    }

    .contenido-servicios-2 iframe{
        width: 343px;
        height: 193px;
    }
}

/* CONTENIDO PORTAFOLIO */

.portafolio h1 {
    text-align: center;
    margin-bottom: 3rem;
}

.fotos-portafolio {
    height: 300px;
    display: flex;
    justify-content: space-evenly;

}

.fotos-portafolio-2 {
    height: 300px;
    display: flex;
    justify-content: space-evenly;

}

.fotos-portafolio img,
.fotos-portafolio-2 img {
    height: 200px;
}


/* FAQs */

.faqs {
    width: 900px;
    margin: 0 auto;
}

.faqs h1 {
    text-align: center;
    margin-bottom: 3rem;
}

.faqs div {
    margin-bottom: 2rem;
}


/* CONTACTO */

.contacto {
    height: 60vh;
    display: flex;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacto h1 {
    margin: 2rem;
}

/* FOOTER */

footer {
    display: flex;
    justify-content: flex-end;
    border-top: solid 1px rgb(203, 203, 203);
}

footer nav ul {
    list-style: none;
    text-align: right;
    margin: 0 2rem;
}

footer nav ul li {
    margin: 10px 0;
}

footer li a {
    font-size: 14px;
}

/* MEDIA QUERY | FOOTER | MOVIL */

@media (max-width: 425px) {
    footer {
        display: flex;
        justify-content: center;
        padding: 2rem 0;
    }

    footer nav ul {
        text-align: center;
    }
}