* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

@import "./sections/header";
@import "./sections/inicio";
@import "./sections/servicios";
@import "./sections/portafolio";
@import "./sections/faqs";
@import "./sections/contacto";
@import "./sections/footer";