/* FOOTER */

footer {
    border-top: solid 1px $color-borde;

    .contenido-footer {
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;

        a {
            text-decoration: none;
            font-size: 14px;
            color: $color-texto-secundario;
            margin: 0 2rem;
        }

        a:hover {
            color: $color-destacado;
        }
    }

    .copyright {
        background-color: $color-texto-secundario;
        color: white;
        text-align: center;
        padding: 5px 0;
        font-size: 13px;
    }
}

/* MEDIA QUERY | FOOTER | MOVIL */

@media (max-width: 425px) {
    footer {
        .contenido-footer {
            flex-direction: column;
            height: 150px;

            a {
                margin: 5px 0;
            }

        }
    }
}