/* CONTENIDO INICIO */

.banner-inicio {
    height: 400px;
    background-image: url(../recursos/banner-inicio.jpg);
    background-position: center;
    background-size: cover;
    display: grid;
    align-items: center;
    justify-content: center;
    align-content: center;

    h2 {
        color: white;
        text-align: center;
        font-size: 45px;
        margin: 1rem 10rem;
    }

    h3 {
        color: white;
        text-align: center;
        margin: 1rem 10rem;
    }
}

.body-inicio-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 5rem 0;
}

.contenido-inicio-1 {
    padding: 2rem;
    display: grid;
    align-items: center;
    align-content: center;

}

.contenido-inicio-2 {
    display: grid;
    align-items: center;
    justify-items: center;

    img {
        height: 500px;
    }
}

.cta-contacto {
    height: 200px;
    background: linear-gradient(-90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    background-position: center;
    background-size: cover;
    display: grid;
    align-items: center;
    justify-content: center;
    align-content: center;

    h2 {
        color: white;
        font-size: 35px;
        text-align: center;
        margin: 0 20rem;
    }

    a {
        text-decoration: none;
    }

}

/* MEDIA QUERY | INICIO | TABLET */

@media (max-width: 768px) {
    .banner-inicio {
    h2 {
        margin: 10px 3rem;

        h3 {
            margin: 10px 3rem;
        }
    }
    }

    .body-inicio-1 {
        grid-template-columns: 2fr 1fr;
    }

    .contenido-inicio-2 img {
        height: 200px;
    }

    .cta-contacto h2 {
        margin: 0 3rem;
    }
}

/* MEDIA QUERY | INICIO | MOVIL */
@media (max-width: 452px) {
    .banner-inicio {
        h2 {
        font-size: 25px;
        margin: 10px 1rem;
        }
        h3 {
            font-size: 20px;
            margin: 10px 1rem;
        }
    }


    .body-inicio-1 {
        display: flex;
        flex-direction: column;
    }

    .contenido-inicio-2 img {
        height: 300px;
    }

    .cta-contacto h2 {
        font-size: 25px;
        margin: 0 3rem;
    }
}